<!-- ================= Site Footer ================= -->
<footer class="site-footer" role="contentinfo">
    <div class="container">
        <!-- Footer main content -->
        <div class="site-footer__main">
            <div class="row">
                <!-- Legal links column -->
                <div class="col-2 col-xl-4 col-md-6 col-sm-12 gy-3">
                    <h3 class="site-footer__heading">Justice</h3>
                    <nav class="site-footer__nav" aria-label="Legal links">
                        <ul class="site-footer__nav-list">
                            <li class="site-footer__nav-item">
                                <a href="#!" class="site-footer__nav-link">Privacy Policy</a>
                            </li>
                            <li class="site-footer__nav-item">
                                <a href="#!" class="site-footer__nav-link">Terms & Conditions</a>
                            </li>
                            <li class="site-footer__nav-item">
                                <a href="#!" class="site-footer__nav-link">Cookie Preferences</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <!-- Main pages column -->
                <div class="col-2 col-xl-4 col-md-6 col-sm-12 gy-3">
                    <h3 class="site-footer__heading">Pages</h3>
                    <nav class="site-footer__nav" aria-label="Main pages">
                        <ul class="site-footer__nav-list">
                            <li class="site-footer__nav-item">
                                <a href="../index.html" class="site-footer__nav-link">Home</a>
                            </li>
                            <li class="site-footer__nav-item">
                                <a href="../about.html" class="site-footer__nav-link">About</a>
                            </li>
                            <li class="site-footer__nav-item">
                                <a href="../practice.html" class="site-footer__nav-link">Practice Areas</a>
                            </li>
                            <li class="site-footer__nav-item">
                                <a href="../attorneys.html" class="site-footer__nav-link">Attorneys</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <!-- Contact information column -->
                <div class="col-3 col-xl-4 col-md-6 col-sm-12 gy-3">
                    <h3 class="site-footer__heading">Contact</h3>
                    <div class="site-footer__contact">
                        <address class="site-footer__contact-address">
                            50 Harrison Street, PH Suite 445<br>
                            Hoboken, NJ 07030
                        </address>
                        <a href="tel:+10001234567" class="site-footer__contact-phone"
                            aria-label="Call us at (000) 123-4567">
                            (000) 123-4567
                        </a>
                        <a href="mailto:yourlawfirm22@gmail.com" class="site-footer__contact-email"
                            aria-label="Email us">
                            yourlawfirm22@gmail.com
                        </a>
                    </div>
                </div>

                <!-- Map column -->
                <div class="col-5 col-xl-12 col-md-6 col-sm-12 gy-3">
                    <div class="site-footer__map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3588.9028857533976!2d105.99452097113168!3d10.235665190566937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1svi!2s!4v1751299979336!5m2!1svi!2s"
                            width="100%" height="100%" style="border: 0" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade" title="Justice Law Firm Location"
                            aria-label="Google Maps showing Justice Law Firm location">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer bottom section -->
        <div class="site-footer__bottom">
            <!-- Logo -->
            <a href="/" class="site-footer__logo" aria-label="Justice Law Firm - Go to homepage">
                <img src="./assets/img/logo-justice.svg" alt="Justice Law Firm" class="site-footer__logo-img" />
            </a>

            <!-- Bottom row with copyright and socials -->
            <div class="site-footer__bottom-content">
                <p class="site-footer__copyright">
                    Copyright © 2022 UI HUT All Rights Reserved
                </p>

                <!-- Social media links -->
                <div class="site-footer__social">
                    <nav class="site-footer__social-nav" aria-label="Social media links">
                        <a href="#!" class="site-footer__social-link" aria-label="Follow us on Facebook">
                            <img src="./assets/icon/facebook.svg" alt="" class="site-footer__social-icon" />
                            <span class="sr-only">Facebook</span>
                        </a>
                        <a href="#!" class="site-footer__social-link" aria-label="Connect with us on LinkedIn">
                            <img src="./assets/icon/linkedin.svg" alt="" class="site-footer__social-icon" />
                            <span class="sr-only">LinkedIn</span>
                        </a>
                        <a href="#!" class="site-footer__social-link" aria-label="Follow us on Twitter">
                            <img src="./assets/icon/twitter.svg" alt="" class="site-footer__social-icon" />
                            <span class="sr-only">Twitter</span>
                        </a>
                        <a href="#!" class="site-footer__social-link" aria-label="Follow us on Instagram">
                            <img src="./assets/icon/instagram.svg" alt="" class="site-footer__social-icon" />
                            <span class="sr-only">Instagram</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>